body {
  margin: 0px;
}
.container {
  margin: 0 auto;
  width: 1400px;
}

header {
  width: 1400px;
  height: 120px;
  left: 0px;
  top: 0px;
  background: #7c3e1b;
}

.logo {
  width: 200px;
  height: 120px;
  left: 163px;
  top: 0px;
  position: relative;
}

.logo img {
  width: 70px;
  height: 70px;
  left: 55px;
  top: 5px;
  position: relative;
}

.logo a {
  text-decoration: none;
}

.txtlogo {
  width: 200px;
  height: 31px;
  left: 5px;
  top: 10px;
  font-family: Galada;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 59px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  margin: 0px;
  position: relative;
}

.menu li {
  position: absolute;
  width: 70px;
  height: 50px;
  left: 950px;
  top: 35px;
  display: flex;
  align-items: center;
  text-align: center;
}

.menu a {
  text-decoration: none;
  font-family: Arial;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}

article {
  height: 421px;
  left: 0px;
  right: 0px;
  top: 120px;
  background: url(../img/Img_art/home.jpg) no-repeat;
  background-attachment: fixed;
}

footer {
  width: 1400px;
  height: 130px;
  left: 0px;
  top: 770px;
}

#redes {
  width: 1400px;
  height: 80px;
  left: 0px;
  top: 770px;
  background: #9c9999;
}

#copy {
  width: 1400px;
  height: 50px;
  left: 0px;
  top: 850px;
  background: #6d6d6d;
}
